{{!-- This is where the main html lives which is the only one actually required. --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Time Barter</title>
</head>
<body>

    <h1>Time Barter</h1>
    {{{body}}}

    <img src="http://insidescoopsf.sfgate.com/files/2012/06/wimpy.-King-Features1.jpg" alt="Where's Wimpy">
    
</body>
</html>