#top {
    color:rgb(226, 59, 59);
    font-size: 60px;
    font-style: italic;
    
}



body {
    background-color: rgb(130, 183, 206);
}


#foot {
    text-align: center;
    background-color: rgb(234, 59, 59);
}

#ourPic {

    border: 100px;
}

